# General files
.vscode/settings.json

*.zip
*.xlsx
*.docx

# A1 files to ignore
A1/txt_sentoken/*
A1/**/*.txt
A1/*.out
A1/*.tar.gz

# A3 files to ignore
A3/txt_sentoken/*
A3/glove*
A3/*.out
A3/*.zip
A3/*.tar.gz